.color-list {
  @include shadow;
  border-radius: $rad;
  position: absolute;
  bottom: -50px;
  padding: 0.5em;
  margin-top: 0.5em;
  z-index: 1000;
  background-color: rgb(248, 243, 243);

  &.flex {
    justify-content: center;
    align-items: center;
  }
  .color-preview {
    margin-inline-start: 0.5em;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #3333;

    &:hover {
      @include hover;
    }
  }
}

.note-details {
  .color-list {
    position: absolute;
    bottom: -30px;
  }
}
