.pinned-tasks,
.unpinned-tasks {
  height: fit-content;
  // display: flex;
}
.task-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

  width: 100%;

  .task-preview {
    position: relative;

    margin: 0.5rem;
    @include txt;
    min-height: 200px;
    max-width: 350px;
    min-height: fit-content;
    .content {
      flex: 1;
    }
    &.flex {
      flex-direction: column;
    }
    .list {
      input {
        margin-top: 1rem;
        height: 20px;
        width: 20px;
        margin-inline-end: 1rem;
      }
      label {
        font-size: 1.5em;
      }
    }
    img {
      height: 100%;
      width: 100%;
    }
    border: 1px solid #3333;
    min-height: fit-content;

    &:hover {
      .actions-container {
        transition: 0.2s ease-in-out;
        opacity: 1;
        transform: translateY(0);

        button {
          &:not(:first-child) {
            margin-inline-start: 0.5rem;
          }
          background: none;
          border: none;
          color: #5558;
          &:hover {
            color: #333;
          }
        }
      }
    }
    .actions-container {
      opacity: 0;
      transform: translateY(100%);
    }
  }
}

@media (max-width: 700px) {
  .task-list {
    grid-template-columns: 1fr;
    
    width: 100%;
    justify-content: center;
    .task-preview {
      justify-self: center;
      min-width: 90vw;
    }
  }
}
